n8n-integration/agent-memory-workflow.json
{
  "name": "Agent Memory System - Save Memory",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "save-memory",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-save-memory",
      "name": "Save Memory Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "agent-memory-save"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "validation-condition",
              "leftValue": "={{ $json.agent_name && $json.agent_id && $json.memory_type && $json.content }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://n8n.pbradygeorgen.com/dashboard/api/memories/save",
        "authentication": "none",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agent_name",
              "value": "={{ $json.agent_name }}"
            },
            {
              "name": "agent_id",
              "value": "={{ $json.agent_id }}"
            },
            {
              "name": "memory_type",
              "value": "={{ $json.memory_type }}"
            },
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "embedding",
              "value": "={{ $json.embedding || null }}"
            },
            {
              "name": "metadata",
              "value": "={{ $json.metadata || {} }}"
            },
            {
              "name": "importance_score",
              "value": "={{ $json.importance_score || 0.5 }}"
            },
            {
              "name": "expires_at",
              "value": "={{ $json.expires_at || null }}"
            }
          ]
        },
        "options": {}
      },
      "id": "save-to-supabase",
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"memory_id\": $json.memory_id, \"agent_name\": $json.agent_name, \"message\": \"Memory saved successfully\" } }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Invalid input data\", \"message\": \"Missing required fields: agent_name, agent_id, memory_type, content\" } }}",
        "responseCode": 400
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 400]
    }
  ],
  "connections": {
    "Save Memory Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Supabase": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-24T06:00:00.000Z",
      "updatedAt": "2025-01-24T06:00:00.000Z",
      "id": "agent-memory",
      "name": "Agent Memory"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-24T06:00:00.000Z",
  "versionId": "1"
}
