packages/core/src/project-workflows/PROJECT___Alex_AI___Job_Opportunities_Live___Production.json
{
  "createdAt": "2025-09-09T07:37:19.878Z",
  "updatedAt": "2025-09-21T05:16:05.213Z",
  "id": "oQTqPZBq8R7Zuza9",
  "name": "PROJECT - Alex AI - Job Opportunities Live - Production",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alex-ai-job-opportunities",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Job Opportunities Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://rpkkkbufdwxmjaerbhbn.supabase.co/rest/v1/job_opportunities",
        "authentication": "genericCredentialType",
        "options": {
          "headers": {
            "apikey": "sb_publishable_ibWfa8oHqDMzbhEr6BxgBw_0aXaq3DU",
            "Authorization": "Bearer sb_publishable_ibWfa8oHqDMzbhEr6BxgBw_0aXaq3DU"
          }
        }
      },
      "id": "supabase-fetch",
      "name": "Fetch Job Opportunities from Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process and format job opportunities data\nconst supabaseData = $input.all()[0].json;\n\n// Check if we got data from Supabase\nif (!supabaseData || supabaseData.length === 0) {\n  // Return empty data with proper structure\n  return {\n    data: [],\n    total: 0,\n    message: \"No job opportunities found\",\n    timestamp: new Date().toISOString(),\n    source: \"supabase\"\n  };\n}\n\n// Format the data for the frontend\nconst formattedJobs = supabaseData.map(job => ({\n  id: job.id,\n  company: job.company || 'Unknown Company',\n  position: job.position || 'Unknown Position',\n  location: job.location || 'Unknown Location',\n  remote_option: job.remote_option || 'Not specified',\n  salary_range: job.salary_range || 'Not specified',\n  description: job.description || 'No description available',\n  requirements: job.requirements || 'No requirements specified',\n  benefits: job.benefits || 'No benefits specified',\n  application_url: job.application_url || '#',\n  source: job.source || 'supabase',\n  scraped_at: job.scraped_at || new Date().toISOString(),\n  alex_ai_score: job.alex_ai_score || 0,\n  st_louis_area: job.st_louis_area || false,\n  st_louis_focus: job.st_louis_focus || false,\n  created_at: job.created_at || new Date().toISOString(),\n  updated_at: job.updated_at || new Date().toISOString()\n}));\n\nreturn {\n  data: formattedJobs,\n  total: formattedJobs.length,\n  message: `Found ${formattedJobs.length} job opportunities`,\n  timestamp: new Date().toISOString(),\n  source: \"supabase\"\n};"
      },
      "id": "data-processor",
      "name": "Process Job Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Job Opportunities Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Job Opportunities Webhook": {
      "main": [
        [
          {
            "node": "Fetch Job Opportunities from Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Job Opportunities from Supabase": {
      "main": [
        [
          {
            "node": "Process Job Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Job Data": {
      "main": [
        [
          {
            "node": "Job Opportunities Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "bbb23a37-83e9-4650-b754-da6a8f9cc3f3",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-09T07:37:19.880Z",
      "updatedAt": "2025-09-09T07:37:19.880Z",
      "role": "workflow:owner",
      "workflowId": "oQTqPZBq8R7Zuza9",
      "projectId": "4Pe2tfKPH8e3rX41"
    }
  ],
  "tags": []
}